In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#load file
file_housing = "Resources/Zillow Single Family Residence.csv"
file_lat ="Resources/us-zip-code-latitude-and-longitude.csv"

In [3]:
#create DataFrame from csv
df_housing = pd.read_csv(file_housing)
df_lat = pd.read_csv(file_lat)
df_lat

,Zip,City,State,Latitude,Longitude,Timezone,Daylight savings time flag,geopoint
0,71937,Cove,AR,34.398483,-94.393980,-6,1,34.398483
1,72044,Edgemont,AR,35.624351,-92.160560,-6,1,35.624351
2,56171,Sherburn,MN,43.660847,-94.743570,-6,1,43.660847
3,49430,Lamont,MI,43.010337,-85.897540,-5,1,43.010337
4,52585,Richland,IA,41.194129,-91.980270,-6,1,41.194129
...,...,...,...,...,...,...,...,...
43186,62833,Ellery,IL,38.361654,-88.164840,-6,1,38.361654
43187,34711,Clermont,FL,28.545742,-81.748050,-5,1,28.545742
43188,72410,Alicia,AR,35.930405,-91.076640,-6,1,35.930405
43189,35560,Goodsprings,AL,33.679503,-87.237372,-6,1,33.679503
43190,76006,Arlington,TX,32.778047,-97.080880,-6,1,32.778047

In [5]:
#Simplified df_housing
df_housing = df_housing[[
 'RegionName',
 'City',
 'State',
 'CountyName',
 '2018-01',
 '2018-02',
 '2018-03',
 '2018-04',
 '2018-05',
 '2018-06',
 '2018-07',
 '2018-08',
 '2018-09',
 '2018-10',
 '2018-11',
 '2018-12']]
df_housing

,RegionName,City,State,CountyName,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12
0,60657,Chicago,IL,Cook County,1028900,1034500,1037400,1038700,1041500,1042800,1042900,1044400,1047800,1049700,1048300,1047900
1,77494,Katy,TX,Harris County,322700,326500,330400,332700,334500,335900,337000,338300,338400,336900,336000,336500
2,60614,Chicago,IL,Cook County,1310100,1315300,1317900,1321100,1325300,1323800,1321200,1320700,1319500,1318800,1319700,1323300
3,79936,El Paso,TX,El Paso County,120300,120500,120800,121300,122200,123000,123600,124500,125600,126300,126800,127400
4,77449,Katy,TX,Harris County,173500,174600,175500,176400,176900,176900,177300,178000,178500,179300,180200,180700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15503,1338,Buckland,MA,Franklin County,216500,214900,216300,217700,218400,220100,222000,222500,223600,226200,227800,228100
15504,3293,Woodstock,NH,Grafton County,213900,219200,221500,222200,222300,222400,222500,222900,224400,226200,227800,229400
15505,40404,Berea,KY,Madison County,132300,134400,135500,135700,136000,136800,137800,139200,140600,141400,141500,141400
15506,81225,Mount Crested Butte,CO,Gunnison County,730700,728300,706500,693200,691500,696000,699900,701600,712500,737200,760700,778800
15507,89155,Mesquite,NV,Clark County,345400,346900,348000,348000,348400,350100,353100,356300,359900,363700,367800,371100

In [6]:
#simplied Lat file
df_lat = df_lat[['Zip','Latitude','Longitude']]

In [7]:
#join the data_
merge_file = df_housing.merge(df_lat,left_on="RegionName",right_on = "Zip",how="left")

In [9]:
merge_file = merge_file [['Zip',
 'City',
 'State',
'Latitude',
 'Longitude',
 'CountyName',
 '2018-01',
 '2018-02',
 '2018-03',
 '2018-04',
 '2018-05',
 '2018-06',
 '2018-07',
 '2018-08',
 '2018-09',
 '2018-10',
 '2018-11',
 '2018-12',
 ]]

In [10]:
merge_file

,Zip,City,State,Latitude,Longitude,CountyName,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12
0,60657.0,Chicago,IL,41.940832,-87.658520,Cook County,1028900,1034500,1037400,1038700,1041500,1042800,1042900,1044400,1047800,1049700,1048300,1047900
1,77494.0,Katy,TX,29.760833,-95.811040,Harris County,322700,326500,330400,332700,334500,335900,337000,338300,338400,336900,336000,336500
2,60614.0,Chicago,IL,41.922682,-87.654320,Cook County,1310100,1315300,1317900,1321100,1325300,1323800,1321200,1320700,1319500,1318800,1319700,1323300
3,79936.0,El Paso,TX,31.766355,-106.298280,El Paso County,120300,120500,120800,121300,122200,123000,123600,124500,125600,126300,126800,127400
4,77449.0,Katy,TX,29.825908,-95.730100,Harris County,173500,174600,175500,176400,176900,176900,177300,178000,178500,179300,180200,180700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15503,1338.0,Buckland,MA,42.569498,-72.802000,Franklin County,216500,214900,216300,217700,218400,220100,222000,222500,223600,226200,227800,228100
15504,3293.0,Woodstock,NH,43.967542,-71.840883,Grafton County,213900,219200,221500,222200,222300,222400,222500,222900,224400,226200,227800,229400
15505,40404.0,Berea,KY,37.716443,-84.299699,Madison County,132300,134400,135500,135700,136000,136800,137800,139200,140600,141400,141500,141400
15506,81225.0,Mount Crested Butte,CO,38.901649,-106.967550,Gunnison County,730700,728300,706500,693200,691500,696000,699900,701600,712500,737200,760700,778800
15507,89155.0,Mesquite,NV,35.927901,-114.972061,Clark County,345400,346900,348000,348000,348400,350100,353100,356300,359900,363700,367800,371100

In [28]:
#merge 2 dataframes
merge_file1 = merge_file.dropna()
merge_file2= merge_file1.astype({'Zip': 'int'})

#rename dataframe to match sql format
df_zillow= merge_file2.rename(columns={"Zip": "zip", "City": "city","State":'state','Latitude':'latitude','Longitude':'longitude',
                         'CountyName':'countyname'})
df_zillow.head()

,zip,city,state,latitude,longitude,countyname,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12
0,60657,Chicago,IL,41.940832,-87.65852,Cook County,1028900,1034500,1037400,1038700,1041500,1042800,1042900,1044400,1047800,1049700,1048300,1047900
1,77494,Katy,TX,29.760833,-95.81104,Harris County,322700,326500,330400,332700,334500,335900,337000,338300,338400,336900,336000,336500
2,60614,Chicago,IL,41.922682,-87.65432,Cook County,1310100,1315300,1317900,1321100,1325300,1323800,1321200,1320700,1319500,1318800,1319700,1323300
3,79936,El Paso,TX,31.766355,-106.29828,El Paso County,120300,120500,120800,121300,122200,123000,123600,124500,125600,126300,126800,127400
4,77449,Katy,TX,29.825908,-95.73010,Harris County,173500,174600,175500,176400,176900,176900,177300,178000,178500,179300,180200,180700

In [29]:
#Connect to local Database
rds_connection_string = "postgres:246800@localhost:5432/zillow_housing"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [30]:
#check for tables
engine.table_names()

['zillow']

In [31]:
#use pandas to load csv converted DataFrame into database
df_zillow.to_sql(name='zillow',con=engine,if_exists='append',index=False)

In [32]:
#Confirm data has been added by querying the customer_name table
pd.read_sql_query('select * from zillow',con=engine).head()

,zip,city,state,latitude,longitude,countyname,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12
0,60657,Chicago,IL,41.940832,-87.65852,Cook County,1028900,1034500,1037400,1038700,1041500,1042800,1042900,1044400,1047800,1049700,1048300,1047900
1,77494,Katy,TX,29.760833,-95.81104,Harris County,322700,326500,330400,332700,334500,335900,337000,338300,338400,336900,336000,336500
2,60614,Chicago,IL,41.922682,-87.65432,Cook County,1310100,1315300,1317900,1321100,1325300,1323800,1321200,1320700,1319500,1318800,1319700,1323300
3,79936,El Paso,TX,31.766355,-106.29828,El Paso County,120300,120500,120800,121300,122200,123000,123600,124500,125600,126300,126800,127400
4,77449,Katy,TX,29.825908,-95.73010,Harris County,173500,174600,175500,176400,176900,176900,177300,178000,178500,179300,180200,180700